.detail {
    display: flex;
    margin: 10px 20%;
    img {
        width: 350px;
        height: 500px;
    }
    .detail-s {
        margin-left: 20px;
        border: solid 0.5px rgb(247, 217, 222);
        padding: 20px;
        p {
            padding: 0;
            margin: p;
        }
        button {
            background-color: rgb(245, 219, 232);
            border-radius: 5px;
            border : solid 0.5px pink;
            padding: 10px;
            margin-top: 40px;
        }
    }
}